#table-of-contents h2{
    z-index:200;
    background-color:#009A44;
    text-align:center;
    padding:0.809em;
    display:block;
    color:#fcfcfc;
    font-size: 100%;
    margin-bottom:0.809em}

content{max-width:100%;}

li{max-width:800px;}

p{max-width:800px;}

.subtitle {
    text-align: center;
    font-size: medium;
    font-style: italic;
    font-weight: normal;
    margin-top: 0;
}

#table-of-contents:after{
    width: 50%;
    content: " ";
    background-image: url(./images/craw_fr_nb.jpg);
    position: fixed;
    left: 25px;
    top: 80%;
    /* margin-left: 25%; */
    height: 100%;
    background-repeat: no-repeat;
    background-size: 25%;
    filter: invert(80%); 
}


